@inject InventoryState State

@{
    int resultCount = SearchItems.Length < 5 ? SearchItems.Length : 5;
    string topPos = $"position: absolute; top: -{2.4 + resultCount * 1.2}em;";
    <div class="popup-container" style="@topPos">
        <div class="search-results-box">
            <input type="text" @ref="SearchBar" @bind="@SearchText" @oninput="SearchTextChanged"/>

            @foreach (ItemBase item in SearchItems.Take(5))
            {
                <div class="search-result" @onclick="() => ItemSelected(item)">
                    <InventoryItem Context="@item" Selectable="false" Scale="1.5" />
                    <div style="font-size: 20px !important;">
                        @item.ItemName
                    </div>
                    <div>
                        @item.Quality.ToString()
                    </div>
                </div>
            }
        </div>
    </div>
}

@code {
    [Inject]
    public IGungeonService GungeonDB { get; set; }
    [Inject]
    public IRefreshService RefreshService { get; set; }


    private ElementReference SearchBar;
    
    public string SearchText { get; set; } = string.Empty;

    public ItemBase[] SearchItems { get; set; } = new ItemBase[0];

    private async Task SearchTextChanged(ChangeEventArgs e)
    {
        SearchText = e.Value as string ?? string.Empty;
        SearchItems = (await GungeonDB.SearchItemAsync(SearchText))
                        .Except(State.CurrentInventory.Items, new ItemComparer())
                        .ToArray();
    }

    private async Task ItemSelected(ItemBase item)
    {
        State.ViewType = DisplayType.AddInProgress;
        
        switch (item.Type)
        {
            case BaseItemType.Item:
                State.CurrentItemSelected = await GungeonDB.GetItemAsync(item.BaseID);
                break;

            case BaseItemType.Gun:
                State.CurrentItemSelected = await GungeonDB.GetGunAsync(item.BaseID);
                break;
        }

        await RefreshService.RequestRefresh();
    }

}